body {
	box-sizing: border-box;
}

.main {
	display: flex;
	flex-wrap: wrap;
}

.header {
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
	position: relative;
}

.logo {
	width: 50px;
	right: 0;
}

.search-bar {
	min-width: 250px;
	width: 25%;
}

.shopping-logo {
	width: 30px;
}

.hidden {
	display: none;
}

.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 80px;
}

.card {
	margin-bottom: 50px;
	width: 50.1%;
}

.card .card-photo {
	height: 200px;
	object-fit: cover;
	width: 230px;
}

.card .item-name {
	font-size: 1.2rem;
	max-width: 230px;
	width: 60%;
	height: 70px;
}

.shopping-cart-area {
	box-sizing: border-box;
	position: relative;
}
.item-counter {
	background-color: rgb(70, 70, 38);
	border-radius: 100%;
	bottom: 15px;
	color: white;
	font-size: 8px;
	padding: 2px 5px;
	position: absolute;
	right: 0;
}

.shop button {
	border: none;
	background-color: lightgray;
	border-radius: 8px;
	padding: 5px 10px;
}
.shop button:nth-of-type(1) {
	margin-right: 5px;
}
.shop button img {
	width: 20px;
}

.shop-items {
	display: flex;
	justify-content: space-between;
}

.shop-items img {
	width: 100px;
}
.shop-items div:nth-of-type(2) {
	margin-left: 20px;
	margin-right: auto;
}
.shop-items div:nth-of-type(2) h1 {
	width: 180px;
	margin-right: 40px;
}
.shop-items div:nth-of-type(3) {
	margin-right: auto;
}
.shop-items h1 {
	font-size: 1rem;
}
.shop-items p {
}

.sidebar .category-list {
	list-style-type: none;
}

@media screen and (min-width: 576px) {
	.cards {
		justify-content: space-around;
	}
	.card {
		width: 35%;
	}
	.shop-items h1 {
		font-size: 1.5rem;
	}
	.shop-items div:nth-of-type(2) h1 {
		width: 250px;
	}
}

@media screen and (min-width: 768px) {
	.card {
		width: 30%;
	}
}

@media screen and (min-width: 1200px) {
	.card {
		width: 25%;
	}
}
