@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
	background-color: white;
	box-sizing: border-box;
	color: rgb(75, 73, 73);
	font-family: "Roboto", sans-serif;
}

.container {
	display: flex;
	margin-top: 60px;
}
.header {
	background-color: #f5ebe0;
	box-sizing: border-box;
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

.sidebar {
	box-sizing: border-box;
}

.sidebar ul {
	left: 0;
	position: fixed;
	padding-left: 1px;
}

.sidebar ul li {
	margin-top: 10px;
}

.sidebar ul input {
	filter: grayscale(1);
}

.logo {
	cursor: pointer;
	height: 50px;
	margin-left: 1%;
	right: 0;
	width: 50px;
}

.search-bar {
	background-color: #fefcf3;
	border: none;
	border-radius: 6px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	color: rgb(75, 73, 73);
	height: 35px;
	margin-top: 8px;
	min-width: 180px;
	outline: none;
	padding-left: 10px;
	width: 25%;
}

.shopping-logo {
	cursor: pointer;
	margin-right: 1%;
	width: 50px;
}
.item-counter {
	background-color: rgb(70, 70, 38);
	border-radius: 100%;
	bottom: 5px;
	color: white;
	font-size: 9px;
	padding: 4px 7px;
	position: absolute;
	right: 2%;
}

.hidden {
	display: none;
}

.cards {
	display: flex;
	flex-wrap: wrap;
	column-gap: 20px;
	justify-content: center;
	margin-left: 60px;

	padding-top: 80px;
}

.card {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 50px;
	width: 100%;
}

.card .card-photo {
	height: 200px;
	object-fit: cover;
	max-width: 100%;
	width: 230px;
}

.card .item-name {
	font-size: 1.3rem;
	height: 70px;
	margin-bottom: 0;
	max-width: 230px;
	text-align: left;
	width: 60%;
	word-break: normal;
}
.card .price {
	font-size: 1.1rem;
	font-weight: 700;
	margin-top: 0;
}

.card .buy-btn {
	background-color: #f0dbdb;
	border: none;
	border-radius: 6px;
	color: rgb(75, 73, 73);
	cursor: pointer;
	font-weight: 700;
	letter-spacing: 1px;
	padding: 10px 20px;
	transition: 0.3s;
}

.card .buy-btn:hover {
	opacity: 0.8;
}

.card .buy-btn:disabled span {
	display: none;
}
.card .buy-btn:disabled::after {
	content: "Added!";
}
.card .buy-btn:disabled {
	opacity: 0.5;
}

.shopping-cart-area {
	box-sizing: border-box;
	position: relative;
}

.shop h1 {
	font-size: 1.5rem;
}
.shop .shop-items div:nth-of-type(2) h1 {
	width: 120px;
	margin-right: 10px;
	margin-top: 0;
}
.shop p {
	margin: 0;
}

.shop button {
	border: none;
	background-color: lightgray;
	border-radius: 8px;
	padding: 5px 10px;
}
.shop button:nth-of-type(1) {
	margin-right: 5px;
}
.shop button img {
	width: 20px;
	height: 20px;
}

.increase-btn {
	margin-bottom: 10px;
}
.increase-btn,
.decrease-btn {
	cursor: pointer;
	transition: 0.3s;
}

.increase-btn:hover,
.decrease-btn:hover {
	opacity: 0.5;
}

.shop-items {
	display: flex;
	justify-content: space-around;
	margin-bottom: 20px;
	margin-left: 0;
}

.shop-items img {
	object-fit: cover;
	width: 100px;
	height: 100px;
}
.shop-items div:nth-of-type(2) {
	margin-left: 20px;
	margin-right: auto;
}
.shop-items div:nth-of-type(2) h1 {
	width: 180px;
	margin-right: 40px;
}
.shop-items div:nth-of-type(3) {
	margin-right: auto;
}
.shop-items h1 {
	font-size: 1rem;
}

.sidebar .category-list {
	list-style-type: none;
}

@media screen and (min-width: 576px) {
	.cards {
		justify-content: space-around;
		width: 100%;
	}
	.card {
		width: 35%;
	}
	.card .item-name {
		font-size: 1.2rem;
		width: 70%;
	}
	.card .price {
		margin-top: 15px;
	}
	.shop-items h1 {
		font-size: 1.5rem;
	}
	.shop-items div:nth-of-type(2) h1 {
		width: 250px;
	}
	.shop .shop-items div:nth-of-type(2) h1 {
		width: 300px;
	}
	.shop {
		width: 60%;
	}
}

@media screen and (min-width: 1000px) {
	.card {
		width: 31%;
	}
	.card .price {
		margin-top: 10px;
	}
}

@media screen and (min-width: 1400px) {
	.card {
		width: 23%;
	}
	.card .price {
		margin-top: 10px;
	}
}
